<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dobro došli u mrežu dobre energije!
  </h1>
  <img class="photo-icon" src="assets/pictures/logo.png">

</div>
<h2 align="center">Tip zgrade</h2>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    <div class="form-check" align="center">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
        Postojeća zgrada
      </label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-check" align="center">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
        Nova zgrada
      </label>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>



<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <h2 align="center">Izaberi energent</h2>

  </div>
  <div class="col-md-3">
    <h2 align="center">Unesite potrošnju</h2>

  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <select class="form-control" align="center">
      <option>Topla voda [kWh]</option>
      <option>Električna energija [kWh]</option>
      <option>Prirodni gas [m3]</option>
      <option>Sušeni lignit [kg]</option>
    </select>
  </div>
  <div class="col-md-3">
    <div>
      <input class="form-control" type="search" id="example-search-input">
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-4">
    <select class="form-control" align="center">
      <option>Topla voda [kWh]</option>
      <option>Električna energija [kWh]</option>
      <option>Prirodni gas [m3]</option>
      <option>Sušeni lignit [kg]</option>
    </select>
  </div>
  <div class="col-md-3">
    <div>
      <input class="form-control" type="search" id="example-search-input">
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    <button type="button" class="btn btn-primary" align="center">Dodaj energent</button>
  </div>
</div>
<br>

<div class="row">
  <div class="col-md-6">
    <label  align="center">Search</label>
    <div>
      <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
    </div>
  </div>
  <div class="col-md-6">
    <label  align="center">Search</label>
    <div>
      <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
    </div>
  </div>

</div>
